
*{
  
  box-sizing: border-box;
}


#text-effect{
  
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden; /* Hide the text that is not visible */
  border-right: 3px solid #f1f1f1; /* Create the blinking cursor effect */
  width: 0; 
  animation: typing 4s steps(30, end), blink 0.7s step-end infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;

  
  
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 44%;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #333;
  }
}

#card::-webkit-scrollbar{
  display: none;
}


@media (max-width: 640px) {
  #typing-text {
    animation: typing 3s steps(30, end), blink 1s step-end infinite;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 85%; /* mobile width */
    }
  }
}

